@charset "UTF-8";

/*************** Header *******************/

#headerBox {
	height:70px;
	line-height:70px; /* 줄간격 - 수직으로 가운데 정렬 효과 */
	padding:0;
	position:relative;
	 box-shadow: 0 4px 5px #EBEBEB;	/* headerBox에 그림자 효과 부여 */
}

#logoBox {
	margin-left:10px;
	float:left;
	height:60px;
	line-height:60px;
}


/************* 메인 메뉴 고정 **********/

/* 윈도우 스크롤 시 메인 메뉴 고정 */
/* 클래스 선택자 css 설정해 놓고 js 파일에서 addClass()로 사용 */
.mainMenuFixed {
	position:fixed;
	top:0px;
}

/* 메인 메뉴 아래에 그림자 표시 */
.mainMenuShadow {
	box-shadow:0 3px 5px 0px #EBEBEB;
	/* offset-x | offset-y | blur-radius | spread-radius | color */
}

/* 서브메뉴에 마우스 오버한 상태도 윈도우 스크롤 시 서브 메뉴 고정 */
.subMenuFixed {
	position:fixed;
	top:0px;
}
