@charset "UTF-8";

 #infoviewBox {
	position:relative;
	height:520px;
	line-height:520px;
	border-bottom:solid #cccccc 1px;
	padding-bottom:518px;
}

#infobackground{
	width:1920px;
	height:1080px;
	
	
}


#slogun{margin-left:100px; top:50px;		
				position:absolute; z-index:10;
				}

#slogun img{
	width:200px; height: 100px;
	display:none;
}
