@charset "UTF-8";

h1{
	font-size:50px;
	font-family: 'Gamja Flower', cursive;
}

a:link {
	color: black; 
	text-decoration: none;
}

a:visited {
	color: black; 
	text-decoration: none;
}

a:hover{
	opacity:0.8;
	border:solid 1px red; 
	transform: scale(1.1);
}


#title{
	position:absolute; 
	top: 100px;
	left: 50%;
	transform: translate(-50%, 0%);
	height:50px;
	line-height:1px;
}

#slideShow {
	position:relative;
	background-color:#ffffff;
	height:520px;
	line-height:520px;
	border-bottom:solid #cccccc 1px;
	padding-top:300px;
	padding-bottom:250px;
	background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../image/beach-1920.jpg');
	background-repeat: no-repeat;
}

#slideShowBox {
	width:950px;
	height:400px;
	text-align:center;
	overflow:hidden;	
	margin:0 auto;
	
	
}

#slidePanel {
	position:relative;
	width:4200px;	
	height:300px;
	
}


#slidePanel a{
	float:left;
	width:300px;
	height:300px;
	position:relative;
	margin:10px;
	
}


#slidePanel a span{
	 position: absolute;
    top: 65px;
    left: 0px;
    color: black;
    font-weight:bold;
    font-size:20px;
}

#slidePanel a span:hover{
	color:red;
}
.slideiImage{
	margin:30px;
}



#prevNextButtonBox { position:relative; z-index:10;}
#prevButton {position:absolute; top:120px; left:20%; opacity:0.8; cursor:pointer;}
#nextButton {position:absolute; top:120px; right:20%; opacity:0.8; cursor:pointer;}

#prevButton:hover {opacity:1;}
#nextButton:hover {opacity:1;}

#gotop:hover { opacity:0.7; cursor:pointer;}
